body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#a2d2ff, #EFB0C9);
    color: #ffffff;
    
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#mmi-img {
    width: 150px;
    border-radius: 40%;
    border: 6px solid #EFB0C9;
    margin-bottom: 10px;
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("https://media1.giphy.com/media/ma6P4l3O53uX6/giphy.webp?cid=ecf05e47hrdj4nca7czdier7sm5axffb0o27tanfraax7dsl&rid=giphy.webp&ct=g");
}

#gift-img-hot:hover {
    background-image: url("https://media1.giphy.com/media/MfaUVqBLIeowM/200w.webp?cid=ecf05e47crp5e80vgfmgc0r2s5ihojrldc80qeisthffmdwe&rid=200w.webp&ct=g");
}

#gift-img-genius:hover {
    background-image: url("images/genius.gif");
}

#gift-img-badass:hover {
    background-image: url("https://media3.giphy.com/media/94xeIhxJKItxrJMfJV/200w.webp?cid=ecf05e47bcafu7q0ppkbtse0j6htwk6en4ipgb119pcsa9ix&rid=200w.webp&ct=g");
}

#gift-img-cheers:hover {
    background-image: url("https://media2.giphy.com/media/Im6d35ebkCIiGzonjI/giphy.gif?cid=ecf05e47lqvlg0ursgrx6ri3dijssifuheyvj15k7ps5wn4l&rid=giphy.gif&ct=g");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/